.title  {
  max-height: 30%;
  margin-bottom: 3%
}

.title-container {
  align-items: center;
  background-color: #dab3ff;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-shadow: 7px 7px 40px 33px rgba(243,230,255,1);
  -moz-box-shadow: 7px 7px 40px 33px rgba(243,230,255,1);
  box-shadow: 7px 7px 40px 33px rgba(243,230,255,1);
}
